version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: addressbook-postgres
    restart: always
    environment:
      POSTGRES_DB: addressbookdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
